/**********************************************************
CSS RESET
**********************************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************
BODY
**********************************************************/

body {
  background: #e3e3e3;
  width: 100%;
  font-family: verdana;
}

body a {
  text-decoration: none;
}

/**********************************************************
HEADER
**********************************************************/

header {
  background: #777;
  margin-bottom: 15px;
}

.header-extra-text {
  float: left;
  width: 15%;
  /*background: #ccc;*/
}

.header-i {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 900;
  color: #fff;
  border: 1px solid #fff;
}

.header-name {
  display: inline-block;
  padding-right: 2px;
}

/**********************************************************
NAVIGATION
**********************************************************/

nav {
  background: #777;
  width: 100%;
}

.nav-ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 6px;
  border-right: 2px solid #fff;
}

.nav-ul li:first-child {
  padding-left: -10px;
}

.nav-ul li:last-child {
  border-right: 0;
}

.nav-ul a {
  color: #000;
}

.login {
  float: right;
  padding: 5px;
}
/**********************************************************
MAIN
**********************************************************/

main {
  clear: left;
}

.news-list {
  list-style: decimal;
  list-style-position: inside; /* compliments of http://stackoverflow.com/questions/2642067/ordered-list-ol-showing-up-un-numbered */
}

.news-list li {
  padding: 0 0 8px 8px;
}

.news-list-line2 {
  margin-left: 32px;
  font-size: .8em;
  color: #cdb79e;
}

.news-link {
  color: #cdb79e;
  font-size: .8em;
}

.more {
  margin: 15px 0 15px 51px;
}

.more a {
  color: #000;
}

/* compliments of http://stackoverflow.com/questions/4151743/how-i-change-the-thickness-of-my-hr-tag */
.horizontal-line {
    border: none;
    height: 3px;
    background-color: #777;
}

/**********************************************************
FOOTER
**********************************************************/
